*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}
a{
    text-decoration: none;
    color: white;
}
body{
    background-color: #e3e2e2;
}
header{
    width: 100%;;
    height: 75vh;
    background-image: linear-gradient(to top, rgba(185, 165, 176, 0.623) 0%, rgba(232, 163, 207, 0.801) 100%),
    url(../img/fondo.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;   
}
.logos{
    height: 70px;
    width: 50px;
}
nav{
    display: flex;
    justify-content: start; 
    position: fixed;   
    background-color: #333;
    color: #fff;
    width: 100%;
    z-index: 1;
    }

    .final{
       padding-left: 1200px;
       padding-top: 25px;
    }

    .nave{
        display: inline-block;
        padding: 10px 20px;
        text-decoration: none;
        color: #fff;
        text-align: center;
        padding-top: 20px;
        
      
    }

    .nave:hover{
        background: black;
        color: white;
        transition: 1.5s;
    }
    
    .subtitulo-header{
        margin: auto;
        text-align: center;
        padding: 16px;
    color: white;
    }  
    
.mapp{
   
    padding: 10px;
    height: 200px;
    width: 650px;
    margin: auto;
    border-radius: 10px;
}
:rol{
    scroll-behavior: smooth;
}
.nav{
    background-color: #333;
    height: 120px;
}


    
    .contenedor{
            display: grid;
            grid-template-columns: 270px 270px 270px;
            grid-template-rows: 1fr 1fr;
            grid-gap:100px;
            padding: 2px;
            justify-content: center;
            margin:auto;
            margin-top: 100px;
        


    }

    
    .contenedor figure{
       position:relative;
        height: 350px;
        cursor: pointer;
        width: 350px;
        overflow: hidden;
        border-radius: 6px;
        box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
        border-radius: 100%;
    }
    .contenedor figure img{
        width: 100%;
        height: 100%;
        transition: all 400ms ease-out;
        will-change: transform;
        border-radius: 100%;
    }
    .contenedor figure .capa{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius:  100%;
        background: rgba(0,0,0,0.7);
        transition: all 400ms ease-out;
        opacity: 0;
        visibility: hidden;
       text-align: center;
    }
    .contenedor figure:hover > .capa {
        opacity: 1;
        visibility: visible;
    }
    .contenedor figure:hover > .capa h3{
        margin-top: 70px;
        margin-bottom: 15px;
    }
    .contenedor figure:hover > .capa hr{
    background-color    : yellow;
    height: 1%;
    width: 90%;
    text-align: center;
    margin: auto;
    border-radius: 75%;
  
    }
    .contenedor figure:hover > img{
        transform: scale(1.3);
    }
    .contenedor figure .capa h3{
        color: #fff;
        font-weight: 400;
        margin-bottom: 120px;
        transition: all 400ms ease-out;
         margin-top: 30px;
    }
    .contenedor figure .capa p{
        color: #fff;
        font-size: 15px;
        line-height: 1.5;
        width: 100%;
        max-width: 220px;
        margin: auto;
    }
   


/* seccion de articulos y titulos */

.Titulos{
    text-align: center;
    margin-top: 120px;
}
.Quien{
    text-align: center;
    font-size: 18px;
    margin: auto;
}
.footere{
    background-color: black;
  display: flex;
  justify-content: space-around;

   

}
.titulos-foot{
    padding: 10px;

}

.barras{
    background-color: white;
    margin: auto;
    margin-bottom: 7px;
    width:95%;
    
   


}
.fin-hr{
    margin: auto;
    width: 75%;
height: 5px;
border-radius: 3px;
    margin-bottom:50px;
    background-color: #fff;
 
    
}
.contacto{
    display: flex;
    width: 25%;
     justify-content: space-between;
     text-align: center;
   

 }
 .imt{
    height: 35px;
    width: 35px;
    
    
}
.prueba{
    padding-top: 10px;
}
.divisor{
    background-color: #333;
    height: 7px;
    width: 95%;
    margin: auto;
    margin-top: 50px;
}

@media (max-width:1328px) {
    .colum{
        width: 45%;
        margin-bottom: 20px;
    }
}


@media (max-width:600px) {
    .contenedor figure img{
        width: 100%;
        height: 400px;
        transition: all 400ms ease-out;
        will-change: transform;
        border-radius: 0%;
    }
    .contenedor figure .capa{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius:  1%;
        background: rgba(0,0,0,0.7);
        transition: all 400ms ease-out;
        opacity: 0;
        visibility: hidden;
       text-align: center;
       margin: auto;
    }
    .contenedor{
        display: grid;
        width: 95%;
        grid-template-columns: 400px;
        grid-template-rows: 400px 400px 400px 400px 400px 400px;
        grid-gap: 50px;
        
        margin-top: 50px;
        width: 95%;
        
        margin:auto;
    


}


.contenedor figure{
    position:relative;
     height: 100%;
     cursor: pointer;
     width: 100%;
     overflow: hidden;
     border-radius: 6px;
     box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
     margin:auto;
   
 }
 .mapp{
     display: none;
 }
 nav{
     width: 100%;
 }
 .final{
   display: none;
 }
 header{
    width: 100%;
    height: 250px;
    background-image: linear-gradient(to top, rgba(185, 165, 176, 0.623) 0%, rgba(232, 163, 207, 0.801) 100%),
    url(../img/alicia-christin-gerald-zm4CcBeBbp8-unsplash.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;   

}
}